* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.App img {
  object-fit: contain;
  border: 1px solid black;
  background-color: #dddbf1;
}
.hide {
  display: none;
}
.Bolt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  transition: 0.5s;
  z-index: 1000;
}
.Black {
  background-color: black;
}
.White {
  background-color: white;
}
.Blue {
  background-color: blue;
}
.Red {
  background-color: red;
}
.Green {
  background-color: green;
}
.Yellow {
  background-color: yellow;
}
.Pink {
  background-color: pink;
}
.Violet {
  background-color: violet;
}
.Brown {
  background-color: brown;
}
